<!-- Portfolio Grid Section -->
<div class="row">
    {% for item in site.research %}
        {% capture image %}
            {% if item.image != nil %}
                /assets/img/codes/{{ item.image }}
            {% else %}
                /assets/img/codes/{{ item.title }}.png
            {% endif %}
        {% endcapture %}

        <div class="col-12 highlight-panel">
            <a href="/{{ item.name }}/">
                <h1 style="font-size:200%; color: #3e3e3e">    {{ item.title }} </h1>
            </a>

            <figure style="display: table;padding: 0em 1em 0em 0em;float:left">
                <img src="{{ image }}" style="display:block" width="500px">
                <figcaption style="padding:.5em 1em 0 0;line-height:1.3em">
                {{ include.caption }}
                </figcaption>
            </figure>

            <p>
                <a href="https://github.com/{{ item.gh }}"><i class="fab fa-github"></i> {{ item.gh }}</a>
                {% if item.website != nil %}  &nbsp; &nbsp; | &nbsp; &nbsp; <a href="{{ item.website }}"><i class="fas fa-external-link-alt"></i> Website</a>{% endif %}
            </p>
            <p style="font-size:120%">
                {{ item.content }}
            </p>
            <p>
                <a href="/{{ item.title }}/">Read More...</a>
            </p>
        </div>
    {% endfor %}
</div>
