.highlight-panel {
    text-align: left; 
    background:#fff; 
    padding: 2em 2em 1em 2em;
    box-shadow:inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    margin: 1em 0em 1em 0em; 
    color:#000000;
}